@-ms-viewport {
    width: device-width;
}

html {
	font: 62.5%/1.4 $beta-font;
	color: $turkis;
	overflow-x: hidden;
	background: $white;
}

body {position: relative;}

html,
body {height: 100%;}

.wrapper {
  	min-height: 100%;
 	margin-bottom: -160px;
  	&:after {
		content: "";
		display: block;
 	}
}

.footer, .wrapper:after {
  height: 160px; 
}

.ease,
.ease:before,
.ease:after {
  -webkit-transition: all 0.8s ease-out;
     -moz-transition: all 0.8s ease-out;
       -o-transition: all 0.8s ease-out;
          transition: all 0.8s ease-out;
}

.skip-link,
.acc {
	position: absolute;
	left: -599em;
}

.acc:focus {
	color: $black;
	background: $white;
	border: 1px solid $black;
	left: 0;
	z-index:10;
}

.clearfix {
	*display: inline-block;
	&:after {
		content: " ";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

img {
	max-width: 100%;
	height: auto;
}

// share button

.button {
	background: $red;
	display: inline-block;
	margin: 20px 2% 0 2%;
	padding: 0.6em 1em;
	font-size: 20px;
	a {
		text-decoration: none;
		margin: 0 0 0 20px;
		border: 1px solid $white;
		border: 1px solid rgba($white, 0.6);
		padding: 4px 8px;
		&:hover {
			text-decoration: none;
			border-color: $white;
			background: $white;
			color: $red;
		}
	}
}

@media all and (max-width: 500px) {
	.button span {display: block;}
	.button a {
		display: block;
		margin: 10px 0 0 0;
	}
}

a:hover {text-decoration: underline;}

/* detailslist */
.main ul {
	margin: 0 0 0 2%;
	padding: 0;
	h2 {
		position: absolute;
		left: 0;
		top: 0;
		padding: 0.6em 1em;
		background: $white;
		background: $turkis;
	}
	li {
		position: relative;
		list-style: none;
		margin: 1em 2% 0 0;
		padding: 3em 2em 2em 2em;
		background: $grey;
		background: rgba($grey, 0.8);
		text-align: center;
		color: $white;
	}
	span {
		position: absolute;
		left: 0.3em;
		bottom: 0.2em;
		@include font-size(30);
		color: $white;
	}
}

@media all and (min-width: 30em) {
	.main ul li {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box; 
		width: 48%;
		float: left;
		height: 7em;
	}
}

@media all and (min-width: 48em) {
	.main ul li {
		width: 31%;
	}
}

@media all and (min-width: 62em) {
	.main ul li {
		width: 23%;
	}
}